<ion-header translucent>
  <ion-toolbar color="primary" class="nav-header">
    <ion-title>Registro en curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="map-screen page-dark"y
  [scrollY]="false"
>
  <!-- ================= MAPA ================= -->
  <div class="map-full">
    <div #mapEl class="map-el"></div>
  </div>

  <!-- ===== Re-centrar navegación ===== -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="center()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- ================= HUD ================= -->
  <div class="hud" id="regHud" #hudEl>

    <!-- Estado -->
    <div class="status">
      <ion-chip color="success" *ngIf="state() === 'recording'">
        <ion-icon name="radio-button-on-outline"></ion-icon>
        <ion-label>Grabando</ion-label>
      </ion-chip>

      <ion-chip color="warning" *ngIf="state() === 'paused'">
        <ion-icon name="pause-outline"></ion-icon>
        <ion-label>Pausado</ion-label>
      </ion-chip>
    </div>

    <!-- Tiempo -->
    <div class="time">
      {{ timeStr() }}
    </div>

    <!-- Stats -->
    <div class="stats">
      <div class="stat">
        <b>{{ speedKmh() | number:'1.0-1' }}</b>
        <small>km/h</small>
      </div>

      <div class="stat">
        <b>{{ distanceKm() | number:'1.2-2' }}</b>
        <small>km</small>
      </div>
    </div>

    <!-- ================= ACCIONES ================= -->

    <!-- Grabando -->
    <div class="actions-row" *ngIf="state() === 'recording'">
      <ion-button class="action-btn btn-neutral" (click)="pauseOrResume()">
        Pausar
      </ion-button>

      <ion-button class="action-btn" color="danger" (click)="finalizar()">
        Finalizar
      </ion-button>
    </div>

    <!-- Pausado -->
    <div class="actions-row" *ngIf="state() === 'paused'">
      <ion-button class="action-btn" color="success" (click)="pauseOrResume()">
        Reanudar
      </ion-button>

      <ion-button class="action-btn" color="danger" (click)="finalizar()">
        Finalizar
      </ion-button>
    </div>

  </div>
</ion-content>
