:root {
  /* Colores base (un poco más modernos) */
  --ion-color-primary: #0ea5e9;           /* sky-500 */
  --ion-color-primary-rgb: 14,165,233;

  --ion-color-secondary: #10b981;         /* emerald-500 */
  --ion-color-secondary-rgb: 16,185,129;

  --ion-color-tertiary: #f59e0b;          /* amber-500 */
  --ion-color-tertiary-rgb: 245,158,11;
}

/* iOS / MD tweaks opcionales */
.ios body { font-size: 16px; }
.md body  { font-size: 15px; }
