/* src/app/pages/actividades/ver-actividad-mapmatch.page.scss */
:host, ion-content, .maplibre-container { height: 100%; width: 100%; display: block; }
.runner { width: 32px; height: 32px; transform-origin: center center; }